<div class="flex-box flex-column card">
    <div class="flex-box card-row">
        <div class="prop-head">Bank Id</div>
        <div class="row-value">{{bankDetails.bank_id}}</div>
    </div>

    <div class="flex-box card-row">
        <div class="prop-head">IFSC</div>
        <div class="row-value">{{bankDetails.ifsc}}</div>
    </div>

    <div class="flex-box card-row">
        <div class="prop-head">Branch</div>
        <div class="row-value">{{bankDetails.branch}}</div>
    </div>

    <div class="flex-box card-row">
        <div class="prop-head">Bank Name</div>
        <div class="row-value">{{bankDetails.bank_name}}</div>
    </div>

    <div class="flex-box card-row">
        <div class="prop-head">City</div>
        <div class="row-value">{{bankDetails.city}}</div>
    </div>

    <div class="flex-box card-row">
        <div class="prop-head">District</div>
        <div class="row-value">{{bankDetails.district}}</div>
    </div>

    <div class="flex-box card-row">
        <div class="prop-head">Address</div>
        <div class="row-value">{{bankDetails.address}}</div>
    </div>
    <div></div>

</div>